In [1]:
import pandas as pd
import re
import csv
import numpy as np

In [2]:
df = pd.read_csv("C:/Users/danie/OneDrive/Desktop/DSLAB/Dati/3. dataset finali usati per il progetto_dal clustering/per_boxplot.csv")

In [3]:
outlaier_R1 = [7996.92, 9214.8, 8159.14 ,10266.48, 9628.37, 8980.87, 8445.76 , 10729.37, 4300.57]
df[df['Vendite R1'].isin(outlaier_R1)][['row ID','dayOfWeek','Vendite R1']]

         row ID  dayOfWeek  Vendite R1
160  2018-03-03   Saturday     4300.57
249  2018-06-01     Friday    10729.37
452  2018-12-26  Wednesday     8159.14
571  2019-04-25   Thursday    10266.48
760  2019-10-31   Thursday     9628.37
816  2019-12-26   Thursday     8980.87
820  2019-12-30     Monday     7996.92
822  2020-01-01  Wednesday     9214.80
823  2020-01-02   Thursday     8445.76

In [4]:
outlaier_R2 = [11810.11,14396.22,11512.06,3843.77,3128.11,12238.06,11661.93,14959.57, 2829.45]
df[df['Vendite R2'].isin(outlaier_R2)][['row ID','dayOfWeek','Vendite R2']]

         row ID  dayOfWeek  Vendite R2
98   2017-12-31     Sunday     2829.45
99   2018-01-01     Monday    11810.11
218  2018-05-01    Tuesday    11512.06
401  2018-10-31  Wednesday    11661.93
458  2019-01-01    Tuesday    14396.22
760  2019-10-31   Thursday    14959.57
814  2019-12-24    Tuesday     3843.77
821  2019-12-31    Tuesday     3128.11
822  2020-01-01  Wednesday    12238.06

In [5]:
outlaier_R6 = [1187.39,8539.28,1212.31]
df[df['Vendite R6'].isin(outlaier_R6)][['row ID','dayOfWeek','Vendite R6']]

         row ID dayOfWeek  Vendite R6
92   2017-12-25    Monday     1187.39
98   2017-12-31    Sunday     1212.31
232  2018-05-15   Tuesday     8539.28

Si conclude che i valori anomali per tutti e tre i ristoranti, identificati mediante i grafici boxplot per ogni giorno della settimana, non si presentano in misura tale da influenzare in maniera significativo l'andamento della settimana negli anni. In particolare, se tali feste si verificano verso il fine settimana, si pu√≤ affermare che i valori potrebbero aumentare rispetto al valore medio e in rari casi, diminuire significativamente (es. 2019-12-31 per quanto riguardail ristorante 6).